<a href="https://colab.research.google.com/github/SubhamMohanty187/Data-Science/blob/main/Python/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a ="10" 
b= a + "1" 
c = int(a)+int(b)
print(c)

111

In [ ]:
import numpy as np

In [ ]:
print(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
a =10
while a <20:
  a+=1
  if a==15:
    continue
  print(a)

11
12
13
14
16
17
18
19
20

In [ ]:
def result(li,n):
  for i in range(n):
    x = max(li)
    li.remove(x)
  return x

n = int(input("Enter the value of n: "))
li = [10,30,60,20,50,80,90,70,40]            #10,20,30,40,50,60,70,80,90.

print(n,"highest value: ",result(li,n))

Enter the value of n: 3
3 highest value:  70