<a href="https://colab.research.google.com/github/SubhamMohanty187/Data-Science/blob/main/Python/Basic_Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("Enter first number: ")) 
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
s = (a+b+c)/3
print("Average: ",s)

Enter first number: 5
Enter second number: 10
Enter third number: 5
Average:  6.666666666666667

In [ ]:
x = int(input("Enter base:"))
n = int(input("Enter exponenet: "))
print(x**n)

Enter base:10
Enter exponenet: 4
10000

In [ ]:
a = int(input())
b = int(input())
c = int(input())
print(b-a)

1
3
5
2

In [ ]:
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())
if x1<=x2 and y1<=y2:
  print("Area: ",(y1-x1)*(y2-x2))

2
2
6
6
Area:  16

In [ ]:
n = int(input("Enter a number: "))
count = 1
sum=0
while count<=n:
  sum += count
  count += 1
print(sum)

Enter a number: 5
15

In [ ]:
n = int(input("Enter a number: "))
count = 1
sum=0
while count<=n:
  if count%2 == 0:
    sum += count
  count += 1
print(sum)

Enter a number: 6
12

Replace a string/char with another char

In [ ]:
str = input("Enter your string: ")
ans =""
for i in str:
  if i == "x":
    ans = ans + "y"
    continue
  ans = ans + i
ans

Enter your string: axbxcx

'aybycy'

In [ ]:
x=3
y=3
print(id(x))
print(id(y))

Palindrome check