<a href="https://colab.research.google.com/github/SubhamMohanty187/Data-Science/blob/main/Python/Control_Statements_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python automatically converts
# a to int
a = 7
print(type(a)) 
# Python automatically converts 
# b to float
b = 3.0
print(type(b)) 
# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c)) 
# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

In [ ]:
import numpy as np 
B = np.random.rand(1000000) 
%timeit sum(B)
%timeit np.sum(B)

In [ ]:

%%timeit
S=0
for x in B: 
    S = S + x
print(S)

In [ ]:
price = input("Enter the price: ")
price = float(price) 
print('Price =', price)
print('Not a number!')

In [ ]:
price = input("Enter the price: ")
try:
    price = float(price) 
    print('Price =', price)
except ValueError:
    print('Not a number!')

In [ ]:
price = input("Enter the price: ")
print(type(price))
price = int(price) 
print('Price =', price)
print(type(price))

In [ ]:
c = 'hi' + str(10)
print(c)

In [ ]:
type(c)

In [ ]:
len(c)

In [ ]:
import numpy as np
B = np.random.rand(1000000)
%timeit sum(B)

In [ ]:
%timeit np.sum(B)

In [ ]:
%%timeit
S=0
for x in B:
    S+=x

In [ ]:
a = 33 
b = 200 
if b > a:
    print("b is greater than a")
print(a)
print(b)

In [ ]:
x,y =12,10 
if(x < y): 
    st= "x is less than y" 
elif (x == y):
    st= "x is same as y" 
else: 
    st="x is greater than y" 
print(st)

In [ ]:
list=[1,2,3,4,5]
for i in list:
    print(i)
    
print(i)

In [ ]:
while (i<10) :
    print(i)
    i = i+1

In [ ]:
range(3,7)

In [ ]:
li = range(13,7) 
li

In [ ]:
print(li)

In [ ]:
for i in range(3,17,4):
    print(i)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(10):
    i=i+1
    print(i)

In [ ]:
li = [1,2,3,4,5,6,7]
j = 0
for i in li:
    print(i)

In [ ]:
print(j)
print(type(j))

In [ ]:
length = len(li)
while length >= 3:
    print(length)
    if length <= 5:
        break
    length = length - 1

In [ ]:
length = len(li)
while length >= 3:    
    length = length - 1 
    if length <= 5:
        continue
    print(length)

In [ ]:
li = [1,2,3,4,5,6,7]
j = 0
for i in li:
    for i in li:
        i=i+1
        j=j+1
    print(j)
print(j)

In [ ]:
x = int(input("x? "))
y = int(input("y? "))
if x < y: 
    print('x is less than y') 
elif x > y: 
    print('x is greater than y') 
else: 
    print('x and y are equal')

In [ ]:
highest = 0
for value in [9, 41, 12, 3, 74, 15] :
    if value > highest:
        highest = value 
        
print('highest' , highest)

In [ ]:
list = [9, 41, 12, 3, 74, 15]
print(list[4])

In [ ]:
list = [9, 41, 12, 3, 74, 15]
smallest = list[0]
for value in list :
    if value < smallest:
        smallest = value 
        
print('smallest' , smallest)

In [ ]:
smallest = None
for value in [9, 41, 12, 3, 74, 15,103,305, 7 , 102.5, 167.44,1] : 
     if smallest is None : 
         smallest = value   
     elif value < smallest : 
         smallest = value   
     #print(smallest, value)
print('After', smallest)

In [ ]:
def average(numbers):
    total = 0
    for num in numbers:
        total = total + num
    avg = total/len(numbers)
    return avg, total
def main():
    prices = [29, 21, 55, 10, 12,16,190,347,1024, 9403, 125, 341942, 20394, 109236, 3470, 5732, 1293, 10039,5783]
    result, tot = average(prices)
    print(tot)
    print(result)
main()

In [ ]:
# write one generic function to find the nth highest in a list
# Assignment

In [ ]:
def average(numbers):
    total = 0
    for num in numbers:
        total = total + num
    avg = total/len(numbers)
    return avg
def main():
    prices = [29, 21, 55, 10]
    result = average(prices)
    print(order_goal)
    print(result)

main()
order_goal = 25

25
28.75

In [ ]:
while True :
    print('hi')

In [ ]:
a = 10
while a < 20 :
    a += 1
    if(a == 15):
        continue    
    print(a)

11
12
13
14
16
17
18
19
20