# 2.Primitive Data Types

## 1. Variables

In [ ]:
# primitive data types can be number,boolean and string values

student_count = 1000 #python interpreter allocate a memory and store this number 1000 in that memory space. we can use this variable anywhere in our python program to access that vlaues(1000)
print(student_count)

In [ ]:
sabyasachi = 100
print(sabyasachi)

In [ ]:
c = 0.5
type(c)

In [ ]:
rating = True
type(rating)
#rating

In [ ]:
 a = 1
print(a)

In [ ]:
my_name_is_sabyasachi = False  #python is a case sensitive language
type(my_name_is_sabyasachi)
#my_name_is_sabyasachi

## 2.Variables Names

In [ ]:
# Variables name should be descriptive and meaningful.
sc = 1000 #it is not a good practice beacuse we could not understood what is sc.
# Variables name should be in lower case and if there is some space then use underscore.

## 3.Strings

In [ ]:
#course = 'python for beginner" #String must be in single quotes or double quotes.
message = ''' Hi everyone . 
I am sabyasachi from divineAI.
Am your python instructer. ''' #Sometimes we use triple quotes beacuse we want to include in the body of an email.
#print(course)
print(message)

In [ ]:
int = '9'
type(int)

In [ ]:
x = 'xyz zxy'
len(x)

##### Function is a basically reusable piece of code that carries out a task.

In [ ]:
len()  #Here len()is built in function which means we use this for finding a length of string
       # Here we are using () that means we are calling that builtin finction which basically means we using that function.

In [72]:
course = 'python for all'
print(len(course)) #Sometimes we are passing some values in that () and this is called argument.
print(course[0])   #It is showing the 0th index of the course variable.
print(course[-1])  #it's shows the last letter of the course variable.
print(course[0:3]) #it's shows from 0th index to 2nd index.
print(course[0:])  #it's shows from 0th index to onwards.
print(course[:3])  #it's shows from 0th index to 2nd index.
print(course[:])   #it's shows all the above variable course.

14
p
l
pyt
python for all
pyt
python for all

In [76]:
print(course[-3:-12:-2])

arfnh

In [77]:
x = 'ABCXYZ'
print(x[-1:-5:-1])
print(x[5:1:-1])

ZYXC
ZYXC

In [78]:
print(course[4:0:-1])

ohty

In [82]:
course_2 = "python for"
print(course_2[-7::-1])

htyp

In [83]:
name = 'sabyasachi'
print(name[-1:-7:-3])

ia

In [86]:
s = 'sabsacsah'
print(s[-1::-1])

hascasbas

## 4.Escape Sequence

In [96]:
course = "python for \"beginner"
print(course)

python for "beginner

In [90]:
course = "python \"for \" begi\"nner"      # back slash is an escape character 
print(course)

python "for " begi"nner

In [99]:
course = "python for \beginner"
print(course)

python for eginner

In [88]:
course = "python \for beginner"
print(course)

python or beginner

In [87]:
course = "python \n for beginner"
print(course)

python
 for beginner

## 5.Formatted Strings

In [1]:
first = "sabyasachi"
second = "mohanty"
full = first +" "+ second
print(full)

sabyasachi mohanty

In [7]:
first = "sabyasachi"
second = "mohanty"
full = f"{(first)} {(second)} "
print(full)

sabyasachi mohanty

In [9]:
first = "sabyasachi"
second = "mohanty"
print(f"{(first)} {(second)}")
#print(full)

sabyasachi mohanty

In [10]:
first = "sabyasachi"
second = "mohanty"
print(f"{len(first)} {len(second)}")

10 7

## 6.String Method

In [41]:
name = "sabyasachi mohantydas"

In [18]:
print(name.upper())

SABYASACHI MOHANTY DAS

In [19]:
x = "SBYASACHI MOHANTY"
print(x.lower())

sbyasachi mohanty

In [22]:
print(name.title())

Sabyasachi Mohantydas

In [31]:
print(name.find("s"))

0

In [35]:
print(name.find("han"))

13

In [36]:
print(name.replace("mohantydas","chandan"))

sabyasachi chandan

In [39]:
print("moH" in name)

True

In [44]:
print("mohanty" not in name)

False

## 7.Numbers

In [45]:
# We have 3 types of numbers. i.e integer, float and complex number
x = 1    # integer
x = 1.1  #Float
x = a+bj #complex number(here j is a imaginary number)

NameError: name 'a' is not defined

In [46]:
# some arithmatic operation in python
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3.3333333333333335
3
1
1000

In [51]:
#Argumented assignment operator
x = 10
#x = 10 - 3
x *=3 #Argumented assignment operator
x

30

## 8.Working with Numbers

In [54]:

print(abs(-6.8)) # abs means absolute value of the number     |-10|=10

6.8

In [57]:
print(round(6.1))

6

In [65]:
# Math Module is like separate file with some python code which includes lots of mathematical function.

import math as m

print(m.ceil(2.1)) #Return the ceiling of x, the smallest integer greater than or equal to x.

3

In [61]:
import pandas as p
p.read

In [66]:

total = 0
for i in range(10):
    total += i
    print(i, end=' ')
#print('sum = {}'.format(total))

0 1 2 3 4 5 6 7 8 9

In [68]:
print(math.factorial(4))   #4!=4*3*2*1=24

24

## 9. Type Conversion

In [ ]:
x = input("x: ")
y = x + 3
print(y)

In [78]:
x = int(input('please enter a value: '))
y = x + 1
print(y)

please enter a value: 4
5

In [77]:
z = 5
a = 'z' * 4
print(a)

zzzz

In [ ]:
#type of conversion:

#int(x)
#float(x)
#str(x)
#bool(x) # zero, none object,empty string are falsy values in python.

## 10. Quiz

In [ ]:
# What are the primitive data types in python?

In [79]:

fruit = "apple"
print(fruit[1])
print(fruit[1:-1])
print(fruit[:-3])
print(10%3)

p
ppl
ap
1

In [83]:
print(bool(9))

True

In [101]:
int = 'sab'
print(int)

sab

In [102]:
if = 'sab'
print(if)

SyntaxError: invalid syntax (<ipython-input-102-1b0bf1412b26>, line 1)

In [103]:
str = 'sab'
print(str)

sab

In [84]:
in = 'hhhhh'
print(in)

SyntaxError: invalid syntax (<ipython-input-84-c7007ba18687>, line 1)