# 3. Control Flow

## 1. Comparison Operators

In [1]:
print(10 < 3) # Here we get boolean value
print(10 >= 3)
print(10 < 20)
print(10 <= 20)
print(10 == 10)



x = 10
print(x == 10)

False
True
True
True
True
True

In [2]:
student = 10
print(student)
student == 10

10

True

In [3]:
10 == "10"

False

In [4]:
10 != '10'

True

In [5]:
'abc'<'dcb'

True

In [6]:
ord('d')

100

In [7]:
'abc'>'ab'

True

In [8]:
'fag' > 'fga'

False

In [9]:
ord('g')

103

In [10]:
ord('d')

100

In [11]:
'pool' < '' # False beacuse every character has a numeric representation. lets see next step

False

In [12]:
ord('s')

115

In [13]:
'abc'>'abcd'

False

In [14]:
ord('t') #converts a character into its Unicode code value.
         #This method accepts a single character.

116

In [15]:
ord('B')

66

In [16]:
'bag' > 'BAG'

True

In [17]:
ord("B")

66

In [18]:
ord("b")

98

In [19]:
'bag' < 'BAG'

False

## 2. Conditional Statement

In [20]:
temperature = int(input(' please add the value of temp: '))
if temperature > 30:
    print("drink water")
    print("hot day")

 please add the value of temp: 23

In [21]:
temperature = int(input(' please add the value of temp: '))
if temperature > 30:
    print("it's a nice day")
    print("drink water")
#elif temperature > 20:
    #print("it is nice day")
elif temperature == 5:
    print('its very cold day')
    print("done")

 please add the value of temp: 23

In [22]:
temperature = 19
if temperature > 30:
    print("it is warm")
    print("drink water")
elif temperature > 20:
    print("it is nice day")
else:
    print("its ohk")
print("done")

its ohk
done

In [23]:
mark = int(input("please add any number : "))
if mark >50:
    print("the student is eligible for next class")
else:
    print("the student is not eligible for next class")

please add any number : 23
the student is not eligible for next class

## 3. Ternary Operator

In [24]:
temperature = 12
if temperature > 20:
    print('its a nyc day')
else:
    print("its a cold day")

its a cold day

In [25]:
temperature = 21
message = "it is a nice day" if temperature >= 20 else "its a cold day"
print(message)

it is a nice day

In [46]:
temperature = 12
print("it is a nice day" if temperature >=18 else "its a cold day")

its a cold day

In [49]:
age = 13
if age >= 18:
    print("yes am eligible for vote")
else:
    print("am not eligible for vote")

am not eligible for vote

In [28]:
age = 13
message = "yes am eligible for vote" if age >= 18 else "am not eligible for vote"
print(message)

am not eligible for vote

In [29]:
age = 13
print("yes am eligible for vote" if age >= 18 else "am not eligible for vote")

am not eligible for vote

In [30]:
age = 22
if age >= 18:
    print("person is  eligible for voting")
else:
    print("Person is not eligible for voting")

person is  eligible for voting

In [31]:
age = 16
condition = "person is eligible for voting" if age >= 18 else "person is not eligible for voting"
print(condition)

person is not eligible for voting

## 4. Logical Operators

In [32]:
high_income = True
good_credit = False 

if high_income and good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

not eligible for loan

In [33]:
high_income = False
good_credit = True

if high_income or good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

eligible for loan

In [53]:
high_income = True
good_credit = False
student = False

if  good_credit:
    print("eligible for loan")
elif  student:
    print("not eligible for loan")
elif high_income:
    print('its ohk')
print("it is not ohk")

its ohk
it is not ohk

In [54]:
high_income = True
good_credit = False
student = True

if (high_income and good_credit) or  student:
    print("eligible for loan")
else:
    print("not eligible for loan")

eligible for loan

## 5. Short-circuit Evaluation

In [56]:
high_income = False
good_credit = False
student = False

if good_credit or high_income or  student:
    print("eligible for loan") 
else:
    print("xxyyzz")
#Here if any one of the statement is true then the python interpreter stop excute the whole code.

xxyyzz

In [57]:
high_income = True
good_credit = False
student = True

if high_income and  good_credit and  student:
    print("eligible for loan")
else:
    print("xxyyzz")
#Here if any one of the statement is false then the python interpreter will stop the excute the whole program.

xxyyzz

## 6. Chaining Comparion Operators

In [58]:
#Age should be in between 18 and 65
age = int(input(" enter a number : "))
if age >= 18 and age < 65:
    print("eligible for loan")
else:
    print("not eligible")

 enter a number : 4
not eligible

In [60]:
#Age should be in between 18 and 65
age = int(input("plz enter the age :")) 
if 18 <= age < 65: # This is called chaining comparison 
    print("eligible")
else:
    print("not eligible")

plz enter the age :75
not eligible

## 7. Quiz

In [40]:
if 10 == '10':
    print('a')
elif 'bag' > 'gpple' and 'bag' > 'bat':
    print('b')
else:
    print('c')

c

In [41]:
'bag'<'bat'

True

## 8. For Loops

In [62]:
for i in range(5):
    print('attempt',i)

attempt 0
attempt 1
attempt 2
attempt 3
attempt 4

In [67]:
for number in range(1,10):
    print('eligible',number)

eligible 1
eligible 2
eligible 3
eligible 4
eligible 5
eligible 6
eligible 7
eligible 8
eligible 9

In [64]:
for number in range(0,3):
    print('attempt', number + 1,(number + 1) * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [65]:
for number in range(1, 4):
    print('attempt',number ,number * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [69]:
for num in range(2,10,2):
    print(num)
    num = num**num
    print(num)

2
4
4
256
6
46656
8
16777216

## 9. For Else

In [6]:
successful = False
for number in range(4):
    print('attempt')
    if successful:
        print('Successful')
        break
    else:
        print("failed")
        break

attempt
failed

In [9]:
successful = False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break 
else:
    print('attempted 3 times and failed')

attempt
attempt
attempt
attempted 3 times and failed

In [13]:
successful = False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break       
print('attempted 3 times and failed')

attempt
attempt
attempt
attempted 3 times and failed

## 10. Nested Loops

In [19]:
for x in range(3):
    for y in range(3):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)

## 11. Iterables

In [15]:
for x in 'python':
    print(x)

p
y
t
h
o
n

In [16]:
for x in [1,2,3,4,5,6,7]:
    print(x)

1
2
3
4
5
6
7

In [17]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

## 12. While Loops

In [20]:
number = 100
while number >0:
    print(number)
    number //= 2

100
50
25
12
6
3
1

In [21]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [22]:
i = 0 
while i < 7:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7

In [23]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6